$mypage-width: 100%;
$breakpoint: 799px;
$nav-height: 75px;
$nav-background: rgb(48, 48, 91);
$nav-color:rgb(40, 50, 50);
$nav-font-color: rgb(211, 184, 211);
$link-hover-color: rgb(164, 145, 230);
$font-color:#fff;
$before-color:orange;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,300&family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navigation {
    height: $nav-height;
    background-color: $nav-background;
}

.nav-container {
    max-width: $mypage-width;
    margin: 0 auto;
}

.logo {
    position: absolute;
    padding-left: .5em;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;

}


#mylogo {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
    color: $font-color;
    margin-left: 1.5em;
    text-decoration: none;

}

#mylogo:hover {
    animation: loani 2s ease-in-out;
    background: linear-gradient(-75deg, rgba(47, 98, 226, 0.6) 30%,
            rgb(240, 50, 196) 50%, rgba(198, 26, 245, 0.6) 70%);

}

@keyframes loani {
    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        color: $before-color;
    }

}




nav {
    float: right;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;


            a {
                display: block;
                padding: 15px;
                margin-top: -2.3em;
                margin-right: 1em;
                text-decoration: none;
                font-size: 1.1rem;
                color: $font-color;
                letter-spacing: 1px;

                &::before {
                    transition: 500ms;
                    content: '';
                    height: 2px;
                    position: absolute;
                    background-color: $link-hover-color;
                    width: 0px;
                    bottom: .1em;
                    left: 0;
                    right: 0;
                }


                &:hover::before {
                    width: 75%;
                    background-color: $before-color;

                }

            }
        }


    }
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: $nav-height;
    width: $nav-height;
}



@media only screen and (max-width: $breakpoint) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;

                    &:hover::before {
                        width: 20%;
                    }
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }



    #nav-toggle {
        position: absolute;
        left: 1.5rem;
        top: 1.5em;
        cursor: pointer;
        padding: 10px 35px 16px 0px;

        span,
        span:before,
        span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 2.5em;
            background-color: $before-color;
            position: absolute;
            display: block;
            content: '';
            transition: all 300ms ease-in-out;
        }

        span:before {
            top: -10px;
        }

        span:after {
            bottom: -10px;
        }

        &:active span {
            background: transparent;

            &:before,
            &:after {
                top: 0;
            }

            &::before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

    }

    @media screen and (min-width:$breakpoint) {
        .nav-list {
            display: block !important;
        }

    }